html {
    background: linear-gradient(#f2e8f2, #e6d1e6);
    min-height: 100%;
}

hr {
    color: black;
    background-color: black;
}

/*.box {*/
/*    background-color: #821982;*/
/*    color: #F2E8F2;*/
/*}*/

/*.title {*/
/*    color: #F2E8F2;*/
/*}*/

/*a {*/
/*    color: #D9BAD9;*/
/*}*/

/*a:hover {*/
/*    color: #E6D1E6;*/
/*}*/

/*.subtitle {*/
/*    color: #E6D1E6;*/
/*}*/
